.header {
    color: var(--charcoal);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    width: 100%;
    background: var(--black-coral);
    height: 48px;
    overflow-y: hidden;
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
        height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.header.is-active {
    height: 100%;
    overflow-y: auto;
    background: var(--charcoal);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1rem;
}

.menu {
    height: auto;
    width: 100%;
    background: transparent;
    z-index: 2;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0s linear 1s;
}

.menu > ul > li {
    opacity: 0;
    width: 100%;
    height: 44px;
    display: inline-block;
    color: #fff;
}

.menu > ul > li:nth-child(1) {
    transform: translateY(-44px);
    transition: opacity 0.3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s,
        transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s;
}

.menu > ul > li:nth-child(2) {
    transform: translateY(-40px);
    transition: opacity 0.30573s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.13667s,
        transform 0.45552s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09933s;
}

.menu > ul > li:nth-child(3) {
    transform: translateY(-36px);
    transition: opacity 0.28122s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.12333s,
        transform 0.44574s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09067s;
}

.header.is-active .menu {
    visibility: visible;
    transition-delay: 0s;
}

.header.is-active .menu > ul > li {
    opacity: 1;
    pointer-events: auto;
    transform: none;
}

.header.is-active .menu > ul > li:nth-child(1) {
    transition: opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s,
        transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
}

.header.is-active .menu > ul > li:nth-child(2) {
    transition: opacity 0.31812s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04333s,
        transform 0.35351s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03333s;
}

.header.is-active .menu > ul > li:nth-child(3) {
    transition: opacity 0.32664s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05667s,
        transform 0.36347s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04667s;
}

.toggle {
    z-index: 3;
}

.logo {
    text-align: center;
}
