.header {
    color: #000;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.toggle {

}

.logo {
    text-align: center;
}
