.header {
    color: var(--charcoal);
    display: block;
    width: 100%;
    background: var(--white);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--p-header-y) 0;
}

.logo {
    text-align: center;
    height: var(--logo-h);
}
