/* LAYOUT */
.container {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

/* tablets */
@media screen and (min-width: 42em) {
    .container {
        width: 85%;
    }
}

/* small screens */
@media screen and (min-width: 60em) {
    .container {
        width: 80%;
    }
}

/* large screens */
@media screen and (min-width: 81em) {
    .container {
        width: 75%;
    }
}

.section-xl {
    padding: 8.75rem 0;
}

/* TYPOGRAPHY */

.font-weight-normal {
    font-weight: 400;
}

.font-weight-light {
    font-weight: 200;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-2 {
    letter-spacing: 0.125em;
}

/* SPACING (margins and paddings) */
.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/* LISTS */
.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}
